
body {
    background-image: url("http://www.animatedimages.org/data/media/1513/animated-sea-and-ocean-image-0012.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
   
}

 /*  #gyrados {
    height: 375px;
    width: 500px;
 /*  background-color:purple; /* change color and background to the gif and take off color*/
   /* background-image: url("http://24.media.tumblr.com/tumblr_m77rg7ZM5b1rzsfkvo1_500.gif");
    background-color: #cccccc;
    margin: auto;
    position: absolute;
} */

#special-gyrados {
    
}

#swimmer {
   
    height:100px;
    background-image: url("http://gph.is/29AauoP"); 
    
    
}

